body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #FF7F51;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}

.bg-1 { 
    background-color: #720026; /* Green */
    color: #FFE8D1;
}

.bg-2 { 
    background-color: #CE4257; /* Dark Blue */
    color: #FFE8D1;
}

.bg-3 { 
    background-color: #FFE8D1; /* White */
    color: #555555;
}

.bg-4 { 
    background-color: #CE4257; /* Black Gray */
    color: #FFE8D1;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.project-image {
    padding-left:25%;
    padding-right: 25%;
}

.logo { 
    width: 3%;
}

a {
    color: #FFE8D1;
}

a:hover {
    color: #720026;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #CE4257 !important;
}